apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: go-balancer
  labels:
    app: backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http
